<!-- templates/registration/login.html -->
<!DOCTYPE html>

<html lang="en">

<head>

  {% include "../head.html" %}

  <meta name="description" content="Description of this Python and Django Website">
  <title>Login</title>


</head>

<body>

  {% include "../bootstrap.html" %}
  {% include "../navbar.html" %}


  {% block content %}


  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">

        <br />

        <h1>Sign In</h1>

        <!--Method 1-->

        <form class="login" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-primary" type="submit">Sign In</button>
        </form>

        {% endblock %}

      </div>
    </div>
  </div>


  {% include "../footer.html" %}

</body>

</html>