<!-- .venv / Lib / django / contrib / admin / templates / admin / base_site.html  -->
{% extends "admin/base_site.html" %}

<!--11-09-2025 - This base_site.html extends the original base_site.html and only the branding block is customized-->
<!--There is no need to copy the the base_site.html because only the branding block is modified-->
{% block branding %}

<div id="site-name">
  
  <!--22-09-2025 - Small screen - After logout - Branding - Vertical align middle - Workaround -->
  {% if user.is_anonymous %}
  <br />
  {% endif %}

   <!--11-09-2025 - You could customize something different before the link than '>>>' -->
  >>>

  <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
   
</div>

{% if user.is_anonymous %}

  <!--22-09-2025 - Small screen - After logout - Theme icon - vertical align middle - Workaround -->
  <br /><br /><br />

  {% include "admin/color_theme_toggle.html" %}

{% endif %}

{% endblock %}

