<!-- .venv / Lib / django / contrib / admin / templates / admin / base_site.html  -->
{% extends "admin/base_site.html" %}

<!--11-09-2025 - This base_site.html extends the original base_site.html and only the branding block is customized-->
<!--There is no need to copy the the base_site.html because only the branding block is modified-->
{% block branding %}

<div id="site-name">
    
  <!--11-09-2025 - You could customize something different before the link than ''Your -->
  >>>

  <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
   
</div>

{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}

{% endblock %}

