<!-- .venv / Lib / django / contrib / admin / templates / admin / base_site.html  -->
{% extends "admin/base_site.html" %}

<!--11-09-2025 - This base_site.html extends the original base_site.html and only the branding block is customized-->
<!--There is no need to copy the the base_site.html because only the branding block is modified-->
{% block branding %}

<div id="site-name">
  
  <!--09-12-2025 - Small screen - After logout - Adding a line break before the link - Workaround -->
  <!--Note: In full screen the line break should not be there -->
  <!--{% if request.path == '/admin/logout/' %}
   <br />
  {% endif %}-->

  <!--11-09-2025 - You could customize something different before the link than '>>>' -->
  >>>

  <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
   
  <!--09-12-2025 - Small screen - After logout - Theme icon - vertical align middle - Workaround -->
  {% if user.is_anonymous %}
   
   <!-- Loading the Theme icon -->
   {% include "admin/color_theme_toggle.html" %}

  {% endif %}

</div>


{% endblock %}

