body{
    background-color: white;
    color: black;
}

.test { color:green}

/* 28-08-2025 - for adding scroll to the list of employees */
.autoscrollable-wrapper {
  overflow: auto;
  max-height: 100%;
  display: flex;
  flex-direction: column-reverse;
}
