<!DOCTYPE html>
<html lang="en">

<head>

  {% include "head.html" %}

      
    <meta name="description" content="The page was not found">
    <title>404 - Not Found</title>



</head>

<body>

  {% include "bootstrap.html" %}
  {% include "navbar.html" %}

  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">

        <br />

        <h2>404 - Not Found</h2>

        <br />

        Try to navigate the Django Website by the Menu :-)

      </div>
    </div>
  </div>

  {% include "footer.html" %}

</body>

</html>