<!DOCTYPE html>

<html>
    <head>
        <title>About this Web App</title>
        <link rel="stylesheet" href='/static/styles.css'>
      
    </head>
<body>

    
{% include "menu.html" %}

<h1>Tech used for this Web Application</h1>

<ul>
    <li>Python</li>
    <li>Django</li>
    <li>MySQL</li>
    <li>Hosted at Vercel Cloud</li>
    <li>This About Page loads a CSS file</li>
</ul>
<div class="test">CSS - This is a Test using style.css</div>

<p>The Administration part is able to use both SQLlite and MySQL </p>

</body>
</html>