<!DOCTYPE html>

<html lang="en">
    <head>
               
      {% include "head.html" %}  

      {% load static %}
      <link rel="stylesheet" href="{% static 'styles.css' %}">
      
    </head>
<body>

     
{% include "bootstrap.html" %}
{% include "navbar.html" %}


<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">

<p><div class="test">This page is using style.css for CSS :-)</div></p>

<h3>Description</h3>
<p>A Python + Django + MySQL Web Application</p>

<b>Last updated:</b>
<ul>
    <li>
       27-05-2025
    </li>
</ul>

<b>Hosting</b>
<ul>
    <li>
       Vercel Cloud using Serverless Functions
    </li>
</ul>

<b>DevOps</b>
<ul>
    <li>
       GitHub
    </li>
    <li>
        Vercel Cloud 
    </li>
</ul>

<b>Performance</b>
<ul>
<li>Google Page Speed for testing</li>
<li>Eliminated Render-Blocking</li>
<li>I optimized the loading of the CSS and JS in the Template</li>
</ul>

<b>Frontend</b>
<ul>
    <li>Django Templates</li>
    <li>Bootstrap for making the Web App mobile friendly</li>
    <li>HTML</li>
    <li>CSS</li>
</ul>

<b>Backend</b><br/>
<ul>
    <li>
      Django
    </li>
</ul>

<b>A simple Blog by Django Models</b><br/>
<ul>
    <li>
      Serving a simple Blog by the Django Backend Admin using Models
    </li>
</ul>

<b>Database</b><br/>
<ul>
    <li>
      MySQL can be used for both Dev + Prod
    </li>
    <li>
        SQLite can be used for Dev
    </li>
</ul>

<b>Text Editor</b>
<ul>
    <li>
      Visual Studio Code with Python + Pylance extensions
    </li>
    
</ul>


</div>
</div>
</div>

</body>
</html>