<!DOCTYPE html>
<html lang="en">
    <head>
                  
      {% include "head.html" %}  

    </head>
<body>

    
    {% include "bootstrap.html" %}
    {% include "navbar.html" %}
    
    {% load static %}
    
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">

              <h2>Blog Posts</h2>
              <br />
              
              <table style="border-style:none" cellpadding="5">
                
                <tr><td><b>Title</b></td><td><b>Content</b></td><td><b>Created</b></td></tr>

                 {% for post in posts %}
                
                <tr>
                  <td>{{ post.title }}</td>
                  <td>{{ post.content }}</td>
                  <td>{{ post.created_at }}</td>
                </tr>

                {% endfor %}

              </table>
                             
            </div>
        </div>
   </div>

   
   {% include "footer.html" %}

</body>
</html>