<!DOCTYPE html>
<html lang="en">
    <head>
                  
      {% include "head.html" %}  

    </head>
<body>

    
    {% include "bootstrap.html" %}
    {% include "navbar.html" %}
    
    {% load static %}
    
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">

              <h2>Blog Posts</h2>
              
                <ul>
                  {% for post in posts %}
                  <li>{{ post.title }} - {{ post.created_at }}</li>
                  {% endfor %}
                </ul>
              
            </div>
        </div>
   </div>

   
   {% include "footer.html" %}

</body>
</html>