<!DOCTYPE html>

<html lang="en">

<head>

    {% include "head.html" %}

    <meta name="description" content="Description of this Python and Django Website">
    <title>Add Todo</title>

    <style>
        ul {
            color: red;
            list-style-type: none;
            padding: 0px;
        }
    </style>

</head>

<body>

    {% include "bootstrap.html" %}
    {% include "navbar.html" %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">

                <br />

                <h2>Add Todo</h2>

                <b>Note:</b> There can only be 10 Todos in the Database !<br /><br>

                {% if numberoftodos > 9 %}
                <p>
                <div style="color:red">The Todo was not Added ! <br />
                    There are already {{ numberoftodos }} Todos in the Database which is the Limit!</div>
                </p>
                {% endif %}

                <form method="POST">
                    {% csrf_token %}

                    <table style="border-style:none" cellpadding="5">
                        <tr>
                            <td>
                                <label for="task" id="task">Todo</label>
                            </td>
                            <td>
                                <input type="text" name="task" placeholder="Enter up to 25 characters">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                {{ form.errors.task }}
                            </td>
                        </tr>
                    </table>

                    <button class="btn btn-primary" type="submit">Add Todo</button>
                </form>
                <br />

                <!--<form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Submit">
                </form>-->

                <a href="{% url 'list_todos' %}">Back to list</a>

            </div>
        </div>
    </div>


    {% include "footer.html" %}

</body>

</html>