<!DOCTYPE html>
<html lang="en">

<head>

  {% include "head.html" %}

    <meta name="description" content="Employees using Django Models">
    <title>Employees</title>

</head>

<body>


  {% include "bootstrap.html" %}
  {% include "navbar.html" %}

  {% load static %}

  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">

        <br />

        <h2>Employees</h2>
        <br />

        <table style="border-style:none; vertical-align: top;" cellpadding="5">

          <tr>
            <td><b>Name</b></td>
            <td><b>Profession</b></td>
            <td><b>Author</b></td>
            <td><b>Created</b></td>
          </tr>

          {% for employee in employees %}

          <tr>
            <td style="vertical-align: top;">{{ employee.name }}</td>
            <td>{{ employee.profession }}</td>

            <td style="vertical-align: top;">{{ employee.author }}</td>

            <td>{{ employee.created_at }}</td>
          </tr>

          {% endfor %}

        </table>

      </div>
    </div>
  </div>


  {% include "footer.html" %}

</body>

</html>