<!DOCTYPE html>

<html lang="en">

<head>

  {% include "head.html" %}

  <meta name="description" content="Description of this Python and Django Website">
  <title>List of Todo Tasks</title>

</head>

<body>

  {% include "bootstrap.html" %}
  {% include "navbar.html" %}


  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">

        <br />

        <h2>Todo List</h2><br />
 
        <a href="{% url 'create_todo' %}">Add a new Todo Task</a>
        <br /><br />

        <ul>
          {% for todo in todos %}
          <li>
            {{ todo.task }} - {% if todo.completed %}Completed{% else %}Not completed{% endif %}
            <a href="{% url 'update_todo' todo.id %}">Edit</a>
            <a href="{% url 'delete_todo' todo.id %}">Delete</a>
          </li>
          {% endfor %}
        </ul>


      </div>
    </div>
  </div>


  {% include "footer.html" %}

</body>

</html>