<!DOCTYPE html>
<html>
    <head>
                  
      {% include "head.html" %}  

    </head>
<body>

    
    {% include "bootstrap.html" %}
    {% include "navbar.html" %}
    
    {% load static %}
    
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">

              <h1>Web Developer</h1>

              <img src="{% static 'pso-django.jpg' %}" alt="Me">

              <p>Per Olsen</p>
              <p>Denmark</p>
              
            </div>
        </div>
   </div>

</body>
</html>