<!DOCTYPE html>

<html lang="en">

<head>

    {% include "head.html" %}

    <meta name="description" content="Description of this Python and Django Website">
    <title>Update Todo</title>

    <style>
        ul {
            color: red;
            list-style-type: none;
            padding: 0px;
        }
    </style>

</head>

<body>

    {% include "bootstrap.html" %}
    {% include "navbar.html" %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">

                <br />

                <h2>Update Todo</h2>

                <form method="POST">
                    {% csrf_token %}
                    Enter up to 25 characters:<br /><br />

                    <table style="border-style:none" cellpadding="5">
                        <tr>
                            <td>
                                <label for="task">Todo</label>
                            </td>
                            <td>
                                <input type="text" id="task" name="task" value="{{ todo.task }}">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                {{ form.errors.task }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="completed">Completed</label>
                            </td>
                            <td>
                                <input type="checkbox" id="completed" name="completed" {% if todo.completed %}checked{% endif %}>
                            </td>
                        </tr>
                    </table>

                    <button class="btn btn-primary" type="submit">Update</button>
                </form>
                <br />

                <!--<form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Submit">
                </form>-->

                <a href="{% url 'list_todos' %}">Back to list</a>


            </div>
        </div>
    </div>


    {% include "footer.html" %}

</body>

</html>