<!DOCTYPE html>

<html lang="en">

<head>

    {% include "head.html" %}

    <meta name="description" content="Description of this Python and Django Website">
    <title>Update Employee</title>

</head>

<body>

    {% include "bootstrap.html" %}
    {% include "navbar.html" %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">

                <br />

                <h2>Update Employee</h2>

                {% if form.errors %}
                   <p>
                    <div style='color:red'>Input Error:</div>
               
                   <!--Note: 28-08-2025 - Display the Error Msg of the Employee if a User enters wrong input values -->
                   {{ form.errors.name }}
                   {{ form.errors.profession }}
                
                   <!--Display only the first error message of any dublicate messages-->
                   <!--{{ form.errors.name.0 }}<br />-->
                   <!--{{ form.errors.profession.0 }}-->
                </p>
               
                {% endif %}

                <form method="POST">
                    {% csrf_token %}
                    Enter up to 25 characters:<br />

                    <label for="name">Name</label>
                    <input type="text" name="name" value="{{ employee.name }}"><br />
                    
                    <label for="author">Author (Read only)</label>
                    <input readonly type="text" name="author" value="{{ employee.author }}"><br />
                    <!--<select name="author" id="author">
                       <option value="Admin">Admin</option>
                       <option value="User">User</option>
                    </select>-->
                    <label for="profession">Profession</label>
                    <input type="text" name="profession" value="{{ employee.profession }}"><br />

                    <button class="btn btn-primary" type="submit">Update Employee</button>
                </form>
                <br />

                <!--<form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Submit">
                </form>-->

                <a href="{% url 'list_employees' %}">Back to list</a>


            </div>
        </div>
    </div>


    {% include "footer.html" %}

</body>

</html>