<!DOCTYPE html>

<html lang="en">

<head>

    {% include "head.html" %}

    <meta name="description" content="Description of this Python and Django Website">
    <title>Update Employee</title>
    
   
    <style>
          ul { 
              color: red;
              list-style-type: none;
             } 
    </style>

</head>

<body>

    {% include "bootstrap.html" %}
    {% include "navbar.html" %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">

                <br />

                <h2>Update Employee</h2>
               
                <form method="POST">
                    {% csrf_token %}
                    Enter up to 25 characters:<br />

                    <label for="name" >Name</label>
                    <input type="text" id="name" name="name" value="{{ employee.name }}"><br />
                     {{ form.errors.name }}

                    <label for="author">Author (Read only)</label>
                    <input readonly type="text" id="author" name="author" value="{{ employee.author }}"><br />
                    <!--<select name="author" id="author">
                       <option value="Admin">Admin</option>
                       <option value="User">User</option>
                    </select>-->
                    
                    <label for="profession">Profession</label>
                    <input type="text" id="profession" name="profession" value="{{ employee.profession }}"><br />
                    {{ form.errors.profession }}

                    <button class="btn btn-primary" type="submit">Update Employee</button>
                </form>
                <br />

                <!--<form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Submit">
                </form>-->

                <a href="{% url 'list_employees' %}">Back to list</a>


            </div>
        </div>
    </div>


    {% include "footer.html" %}

</body>

</html>